:root {
    --clr-primary: #fc307b;
    --clr-secondary: #2c92ef;

    --fs-700: 3.5rem;
    --fs-400: 1.25rem;
}


.charsBody {
    position: absolute;
    color: white;
    font-size: var(--fs-400);
    padding: 20vw 0;
    font-family: sans-serif;
    line-height: 1;
    margin-left: 50px;
    top: 50px;
    z-index: 1;

}

.uppercase {
    text-transform: uppercase;
}

.textPrimary {
    color: var(--clr-primary);
}

.fs700 {
    font-size: var(--fs-700);
}
.textAccent {
    color: var(--clr-secondary);
}

.bgPrimary {
    background-color: var(--clr-primary);
}

.bgAccent {
    background-color: var(--clr-accent);
}

.container {
    display: grid;
    padding: 1rem 0;
    max-width: 65rem;
    margin: 0 auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;

}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.gridColumns {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}


/* featured grid */

.featureGrid {
    grid-template-columns: repeat(4, 1fr);
}