:root {
    --clr-primary: #fc307b;
    --clr-secondary: #2c92ef;

    --fs-700: 3.5rem;
    --fs-400: 1.25rem;
}

.charsBody {
    position: absolute;
    color: white;
    font-size: var(--fs-400);
    font-family: sans-serif;
    line-height: 1;
    width: 99vw;
    top: 50vh;
    z-index: 5;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        row-gap: 20px;
    }

    .charsBody {
        top: 50vh;
    }
}

@media screen and (max-width: 675px) {
    .charsBody {
        top: 35vh
    }
}

.uppercase {
    text-transform: uppercase;
}

.textPrimary {
    color: var(--clr-primary);
}

.fs700 {
    font-size: var(--fs-700);
}
.textAccent {
    color: var(--clr-secondary);
}

.bgPrimary {
    background-color: var(--clr-primary);
}

.bgAccent {
    background-color: var(--clr-accent);
}

/*! adjust *max-width:* media queries */
/* bigger screens require bigger rems */

.container {
    display: flex;
    max-width: 55em; 
    margin: 0 auto;
    perspective: 75rem;
}


.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 2rem);
}

.gridColumns {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}


/* featured grid */

.featureGrid {
    position: relative;
    z-index: -1;
    grid-template-columns: repeat(4, 1fr);
    transform: rotateY(-45deg);
}

@media screen and (min-width: 900px) {
    .featureGrid {
        left: min(calc(1000px - 100vw) * -1, 0px);
        width: 45rem;
    }
}

.featureGrid > a {
    border-radius: 0.75rem;
    transition: transform 350ms ease-in-out;
    overflow: hidden;
}

.featureGrid > a:hover,
.featureGrid > a:focus-visible {
    transform: scale(1.25);
    box-shadow: 0 0 2rem hsl(0 0% 100% / 0.8);
}

.featureGrid > :nth-child(1),
.featureGrid > :nth-child(4),
.featureGrid > :nth-child(5),
.featureGrid > :nth-child(7) {
    grid-row: span 2;
}

.featureGrid > :nth-child(2),
.featureGrid > :nth-child(3) {
    grid-row: span 2;
}

.featureGrid > :nth-child(6) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 4;
}