@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&display=swap');

.contBody {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: 50vh;
  width: 99vw;
  z-index: 1;
}

.container  {
  display: block;
}

.title {
  display: flex;
  font-family: 'Righteous', cursive;
  justify-content: center;
  color: #fa8b8b;
  font-size: 60px;
}

.subTitle {
  display: flex;
  font-family: 'Righteous', cursive;
  color: #fa8b8b;
  justify-content: center;
  align-items: center;
}

/* drunkn'cookn ig tag */

.dTag {
  font-size: 40px;
}

.flex {
  display: flex;  
  justify-content: space-around;
  align-items: center;
}


.card {
  display: grid;
  color: #5fd0ce;
  background: #1c182e;
  border: solid;
  align-items: center;
  justify-content: left;
  border-radius: 15px;
  padding: 20px;
  height: 50vh;
  width: 40vw;
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 36vw;
}

/* card container */

.cContainer {
  display: flex;
  color: #5fd0ce;
  background: #1c182e;
  align-items: center;
  justify-content: flex-start;
}



.pic {
  display: flex;
  background-color: #fa8b8b;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 7vw;
}

.section  {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}


@media screen and (max-width: 675px) {
  .contBody {
    top: 35vh;
  }

  .title {
    font-size: 40px;
  }

  .subTitle {
    flex-direction: column;
  }

  .cContainer {
    flex-direction: column;
    width: 115px;
  }

}

.href {
  color: #fa8b8b;
}

.href:visited {
  color: #5fd0ce;
}

