.menuBody {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: orange;
  top: 50px;
  padding: 22vw 0;
  width: 99vw;
  z-index: 5;
}

.container {
  display: block;
  border: solid;
  color: red;
}

.title {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  border: solid;
  justify-content: center;
  
}

.item {
  color: green;
  border: solid;
  height: 150px;
}

.cat1 {
  color: yellow;
  grid-column: 2 / 7;
  border: solid;
}

.cat2 {
  color: red;
  border: solid;
  grid-column: 7;
}