.menuBody {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: 50vh;
  width: 99vw;
  z-index: 5;
}

.container {
  display: block;
}

.title {
  display: flex;
  color: red;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 5px; 
  align-items: center;
}

.card {
  color: green;
  background: rgb(36, 27, 77);
  border: solid;
  height: 50vh;
  width: 60vw;
  align-items: center;
}



button {
  height: 40px;
}
