.menuBody {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: 50px;
  padding: 22vw 0;
  width: 99vw;
  z-index: 5;

}

.container {
  display: block;
}

.title {
  display: flex;
  color: red;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 5px; 
  align-items: center;
}

.card {
  color: green;
  border: solid;
  height: 40vh;
  width: 50vw;
  align-items: center;
}



button {
  height: 40px;
}
