@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    position: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;

}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --clr-neon: #003af7;
    --clr-bg: #050120;
    --clr-plate: radial-gradient(ellipse at center,hsl(216, 82%, 59%) 20%, #050120 15%);
}
body {
    background: var(--clr-bg);
}

.title {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-bg); /* * replace with plate var */
    font-family: "Balsamiq sans", cursive;
    color: var(--clr-neon);
    z-index: 1;
}

@media screen and (min-width: 675px) {
  .neonTitle {
    font-size: 5rem;
  }
}

@media screen and (max-width: 675px) {
  .neonTitle {
    font-size: 2rem;
  }
}

.neonTitle {
    pointer-events: none;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0, 11%, 78%),
                0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 
                0 0 0.7em 0 var(--clr-neon);
    position: relative;
        /* *add non highlight effect to different browsers*/
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        /* *animation */
    animation: flicker 3s;
    z-index: 1;
}


.neonTitle::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    
    transform: perspective(1em) 
                rotateX(40deg)
                scale(1, 0.55);
    filter: blur(.5em); 
    opacity: 0.7;
    z-index: 1;
}

.neonTitle::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;
    z-index: 1;
}

.animateUp {
    animation: moveUp .6s;
    bottom: 200px;
}

.animateDown {
  animation: moveDown .6s;
}

@keyframes moveDown {
    3%{top: 6px}
    6%{top: 13px}
    10%{top: 20px}
    10.3%{top: 26px}
    10.6%{top: 33px}
    20%{top: 40px}
    20.3%{top: 46px}
    20.6%{top: 53px}
    30%{top: 60px}
    30.3%{top: 66px}
    30.6%{top: 73px}
    40%{top: 80px}
    40.3%{top: 86px}
    40.6%{top: 93px}
    50%{top: 100px}
    50.3%{top: 106px}
    50.6%{top: 113px}
    60%{top: 120px}
    60.3%{top: 126px}
    60.6%{top: 133px}
    70%{top: 140px}
    70.3%{top: 146px}
    70.6%{top: 156px}
    80%{top: 160px}
    80.3%{top: 163px}
    80.6%{top: 176px}
    90%{top: 180px}
    90.3%{top: 186px}
    90.6%{top: 193px}
    100%{top: 200px}
}


@keyframes moveUp {
    3%{bottom: 6px}
    6%{bottom: 13px}
    10%{bottom: 20px}
    10.3%{bottom: 26px}
    10.6%{bottom: 33px}
    20%{bottom: 40px}
    20.3%{bottom: 46px}
    20.6%{bottom: 53px}
    30%{bottom: 60px}
    30.3%{bottom: 66px}
    30.6%{bottom: 73px}
    40%{bottom: 80px}
    40.3%{bottom: 86px}
    40.6%{bottom: 93px}
    50%{bottom: 100px}
    50.3%{bottom: 106px}
    50.6%{bottom: 113px}
    60%{bottom: 120px}
    60.3%{bottom: 126px}
    60.6%{bottom: 133px}
    70%{bottom: 140px}
    70.3%{bottom: 146px}
    70.6%{bottom: 156px}
    80%{bottom: 160px}
    80.3%{bottom: 163px}
    80.6%{bottom: 176px}
    90%{bottom: 180px}
    90.3%{bottom: 186px}
    90.6%{bottom: 193px}
    100%{bottom: 200px}
}

/* *flicker Effect */
@keyframes flicker {
    0%{}

    10%{opacity:0; text-shadow:none;}
    10.1%{opacity:1; text-shadow:none;}
    10.2%{opacity:0; text-shadow:none;}

    20%{opacity:0; text-shadow:none;}
    20.1%{opacity:1; text-shadow:0 0 30px hsla(202, 100%, 49%, 0.25);}
    20.6%{opacity:0; text-shadow:none;}
    
    30%{opacity:0; text-shadow:none;}
    30.1%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.45), 0 0 60px hsl(202, 100%, 49%, 0.25);}
    30.5%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.45), 0 0 60px hsl(202, 100%, 49%, 0.25);}
    30.6%{opacity:0; text-shadow:none;}

    45%{opacity:0; text-shadow:none;}
    45.1%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.45), 0 0 60px hsl(202, 100%, 49%, 0.25);}

    50%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.45), 0 0 60px hsl(202, 100%, 49%, 0.25);}

    55%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.45), 0 0 60px hsl(202, 100%, 49%, 0.25);}
    55.1%{opacity:0; text-shadow:none;}

    57%{opacity:0; text-shadow:none;}
    57.1%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.55), 0 0 60px hsl(202, 100%, 49%, 0.35);}

    60%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.55), 0 0 60px hsl(202, 100%, 49%, 0.35);}
    60.1%{opacity:0; text-shadow:none;}

    65%{opacity:0; text-shadow:none;}
    65.1%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.55), 0 0 60px hsl(202, 100%, 49%, 0.35), 0 0 100px hsl(202, 100%, 49%, .1);}

    75%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.55), 0 0 60px hsl(202, 100%, 49%, 0.35), 0 0 100px hsl(202, 100%, 49%, .1);}
    75.1%{opacity:0; text-shadow:none;}

    77%{opacity:0; text-shadow:none;}
    77.1%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.55), 0 0 60px hsl(202, 100%, 49%, 0.4), 0 0 110px hsl(202, 100%, 49%, .2), 0 0 100px hsl(202, 100%, 49%, .2);}

    85%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.55), 0 0 60px hsl(202, 100%, 49%, 0.4), 0 0 110px hsl(202, 100%, 49%, .2), 0 0 100px hsl(202, 100%, 49%, .2);}
    85.1%{opacity:0; text-shadow:none;}

    86%{opacity:0; text-shadow:none;}
    86.1%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.6), 0 0 60px hsl(202, 100%, 49%, 0.45), 0 0 110px hsl(202, 100%, 49%, .25), 0 0 100px hsl(202, 100%, 49%, .1);}

    100%{opacity:1; text-shadow:0 0 30px hsl(202, 100%, 49%, 0.6), 0 0 60px hsl(202, 100%, 49%, 0.45), 0 0 110px hsl(202, 100%, 49%, .25), 0 0 100px hsl(202, 100%, 49%, .1);}
}